@font-face {
  font-family: 'agent_red';
  src: url('fonts/agentred.TTF') format('truetype');
}

@font-face {
      font-family: 'DK';
      src: url('fonts/crayon.ttf') format('truetype');
    }

body {
      background-color: #6DBCDB;
}
input {
      background-color: #0284A8;
      width: 160px;
      height: 25px;
      border: none;
      font-family:'DK'; 
      color: #FFD500;
      font-size: 20px;
      margin-top: 5px;

    }
button {
      font-family: 'agent_red';
      font-size: 14px;
      height: 30px;
      color: purple; 
      background-color: #FFD500;

}

label {
      font-family: 'agent_red';
      font-size: 24px; 
      color: purple;
    }


#tamagotchi_container{
	
    display: block;
  	width: 100%; 
  }

 #log_in_container{
    height: 50px;
    width: 100%;
    text-align: center;
 }

#myId{
  display:none;
  position: absolute;
  top:70px;
  left: 50%;
  transform: translate(-50%);
  height: 30px;
  width: 275px;
  font-size: 20px;
  text-align: center;
}

#person_name{
  text-align: center;
}

#user_name{
  visibility: hidden;
}

#egg{
  position: absolute;
  top: 340px;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 375px;
  visibility: hidden;
   
}

#eat_container{

  position: absolute;
  top: 335px;
  left: 50%;
  margin-left: -20px;
  margin-top: 160px;
  width: 40px;
  height: 35px;
  visibility: hidden;
}

#eat_b, #eat_b2{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 40px;
}

#eat_b2{
  visibility: hidden;
}

#play_container{
  position: absolute;
  top: 340px;
  left: 50%;
  margin-left: -90px;
  margin-top: 125px;
  width: 40px;
  height: 35px;
  visibility: hidden;
}

#play_b, #play_b2{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 40px;
}

#play_b2{
  visibility: hidden;
}

#sleep_container{
  position: absolute;
  top: 340px;
  left: 50%;
  margin-left: 50px;
  margin-top: 125px;
  width: 40px;
  height: 35px;
  visibility: hidden;
}

#sleep_b, #sleep_b2{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 40px;
}

#sleep_b2{
  visibility: hidden;
}

#canvas{
  font-family:'DK'; 
  position: absolute;
  top: 340px;
  left: 50%;
  margin-top: 10px;
  margin-left: 2px;
  transform: translate(-50%,-50%);
  width: 243px;
  height: 245px;
  visibility: hidden;
}



#cur_container{
   
   font-size: 12px;
}

#bottom_container{

  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 570px;visibility: hidden;
}

#fol_container{
  width: 100%;
}

@media(max-width: 400px){
  #egg{
    top: 290px;
    width: 300px;
  }
  #canvas {
    top:288px;
    width: 194px;
    height: 194px;
    margin-left: 1.5px;
  }

  #sleep_container{
  top: 265px;
  margin-left: 30px;
  margin-top: 125px;
  width: 30px;
  height: 25px;
}

#play_container{
  top: 265px;
  left: 50%;
  margin-left: -70px;
  margin-top: 125px;
  width: 30px;
  height: 25px;
  visibility: hidden;
}

#eat_container{
  position: absolute;
  top: 255px;
  left: 50%;
  margin-left: -20px;
  margin-top: 160px;
  width: 30px;
  height: 25px;
  visibility: hidden;
}
  
#sleep_b, #sleep_b2{
  width: 30px;
}

#play_b, #play_b2{
  width: 30px;
}
#eat_b, #eat_b2{
  width: 30px;
}

#bottom_container{
  top: 220px;

  }
#submit_btn{
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#person_name{
  position: absolute;
  top:11%;
  left: 50%;
  transform: translate(-50%,-50%);
}



 #log_in_container{
    position: absolute;
   
    height: 500px;
    width: 100%;
    }
 #user_name{
  
 }

#bottom_container{
  position: absolute;
  top: 195px;
  left: 50%;
  margin-top: 270px;
  transform: translate(-50%);
  visibility: hidden;

}


}


















